<div id="mitModal" class="modal-header">
    <button class="close" type="button" ng-click="matrixClose()" aria-hidden="true">&times;</button>
    <h5 class="modal-title left" style="margin-right:20px; float:none;">
        MIT Chart
    </h5>

    <div class="form-group" style="width: 19%;display: inline-block;">
        <label for="managementAreaList" style="width: 100%"> Management Area: </label>
        <select class="form-control" name="managementAreaList" id="managementAreaList"
                ng-model="areaFData.selectedManagementArea"
                ng-options="option as option._id for option in areaFData.managementAreaData | toArray | orderBy: '_id'"
                ng-change="managementAreaSelected()">
            <option value="">Management Area</option>
        </select>
    </div>

    <div class="form-group" style="width: 19%;display: inline-block;">
        <label for="serviceCenterList" style="width: 100%"> Service Center: </label>
        <select class="form-control" name="serviceCenterList" id="serviceCenterList"
                ng-options="option._id for option in areaFData.serviceCentersList | toArray | orderBy: '_id'"
                ng-model="areaFData.selectedServiceCenter"
                ng-change="serviceCenterSelected()">
            <option value="">Service Center</option>
        </select>
    </div>


    <div class="form-group" style="width: 19%;display: inline-block;">
        <label for="substationListing"> Substation: </label>
        <select class="form-control" name="substationListing" id="substationListing"
                ng-options="option._id for option in areaFData.substationsList | toArray | orderBy: '_id'"
                ng-model="areaFData.selectedSubstation" ng-change="substationSelected()">
            <option value="">Substation</option>
        </select>
    </div>

    <div class="form-group" style="width: 19%;display: inline-block;">
        <label for="feederListing"> Feeder: </label>
        <select   class="form-control" name="feederListing" id="feederListing" ng-disabled="!areaFData.selectedSubstation"
                  ng-options="option.name for option in areaFData.selectedSubstation.feeders | toArray | orderBy: 'name'"
                  ng-model="areaFData.selectedFeeder" ng-change="feederSelected()">
            <option value="">Feeder</option>
        </select>
    </div>
    <div class="form-group"  ng-show="showFilter" style="width: 19%;display: inline-block;">
        <label> Filter by text: </label>
        <input id="mitTxtFilter" class="form-control" type="text" ng-model="mitTxtFilter" placeholder="Filter by text" />
    </div>



    <a class="btn btn-info btn-sm" ng-href="#" ng-click="clearMIT();">Clear</a>
    <select class="form-control" name="substationListing" id="substationListing"
            ng-options="option._id for option in areaFData.substationsList | toArray | orderBy: '_id'"
            ng-model="areaFData.selectedSubstation" ng-change="substationSelected()">
        <option value="">Substation</option>
    </select>
    <!--<div class="col-md-2 right">
          <label style="width:auto"><input type='checkbox' ng-model="hide0" /> Hide 0 M today: </label>
  </div>-->
</div>
<div class="modal-body">
    <!--style="overflow-y:hidden"-->
    <ul class="nav nav-tabs" id="k">
        <!-- tabs -->
        <li id="mitTabLink" class="active">
            <a href="#mitTable" ng-click="changeMIT('matrix')">
                <span class="glyphicon stats"> </span>&nbsp;MIT Matrix
            </a>
        </li>
        <li id="mitIRLink">
            <a href="#mitInvReport" ng-click="changeMIT('investigation')">
                <!-- data-toggle="tab"  -->
                <span class="glyphicon glyphicon-eye-open"> </span>&nbsp;Investigation Report
            </a>
        </li>
        <!--<li id="mitDashLink">-->
            <!--<a href="#mitDashboard" ng-click="changeMIT('dashboard')">-->
                <!--&lt;!&ndash; data-toggle="tab"  &ndash;&gt;-->
                <!--<span class="glyphicon glyphicon-dashboard"> </span>&nbsp;Dashboard-->
            <!--</a>-->
        <!--</li>-->
    </ul>
    <div class="tab-content" id="mitContent">
        <div class="tab-pane fade active in" id="mitTable" active="mitTable">
            <div class=" panel panel-primary" style="overflow-y:auto; min-height:375px;max-height:450px;">
                <div class="panel-heading">
                    <label class='checkbox-inline bg-lilac' style="width: 130px;"><input type='checkbox' ng-model='mitReliStats' value='' ng-checked="mitReliStats" aria-label='Toggle ngShow' ng-init="mitReliStats=true"><span>Reliability Stats</span></label>
                    <label class='checkbox-inline bg-blue'><input type='checkbox' ng-model='mitProt' value='' ng-checked="mitProt" aria-label='Toggle ngShow' ng-init="mitProt=true"><span>Protection</span></label>
                    <!--  try to make protection on by default, without off setting checkbox -->
                    <label class='checkbox-inline nee-green'><input type='checkbox' ng-model='mitVeg' value='' aria-label='Toggle ngShow'><span>Vegetation</span></label>
                    <label class='checkbox-inline bg-blue-violet'><input type='checkbox' ng-model='mitSmartGrid' value='' aria-label='Toggle ngShow'><span>SmartGrid</span></label>
                    <label class='checkbox-inline bg-drk-lilac' style="width: 150px;"><input type='checkbox' ng-model='mitReliability' value='' aria-label='Toggle ngShow'><span>Reliability Programs</span></label>
                    <label class='checkbox-inline fpl-grey'><input type='checkbox' ng-model='mitGen' value='' aria-label='Toggle ngShow'><span>General</span></label>
                </div>
                <h4 ng-show="mitMAFilter=='All'"> You must select a Management Area to view data</h4>
                <table class="table table-striped" ng-hide="mitMAFilter=='All'">
                    <thead>
                    <tr>
                        <th>MA</th>
                        <th ng-click="mitKey('SUBSTATION')">
                            Substation
                            <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortMit!='SUBSTATION'"></span>
                            <span ng-hide="mitSort.sortMit!='SUBSTATION'">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                            </span>
                        </th>
                        <th ng-click="mitKey('FDR_NUM')">
                            Feeder
                            <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortMit!='FDR_NUM'"></span>
                            <span ng-hide="mitSort.sortMit!='FDR_NUM'">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                            </span>
                        </th>
                        <th ng-click="mitKey('MCOUNT')">
                            M Today
                            <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortMit!='MCOUNT'"></span>
                            <span ng-hide="mitSort.sortMit!='MCOUNT'">
                              <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                              <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                            </span>
                        </th>
                        <th ng-click="mitKey('FDR_M_YTD')" ng-show='mitReliStats' class='bg-lilac'>
                            M YTD
                            <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortMit!='FDR_M_YTD'"></span>
                            <span ng-hide="mitSort.sortMit!='FDR_M_YTD'">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                            </span>
                        </th>
                        <th ng-click="mitKey('FDR_M_12MOE')" ng-show='mitReliStats' class='bg-lilac'>
                            M 12 MOE
                            <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortMit!='FDR_M_12MOE'"></span>
                            <span ng-hide="mitSort.sortMit!='FDR_M_12MOE'">
                                <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                            </span>
                        </th>
                        <th ng-show='mitReliStats' class='bg-lilac'>Int FDR YTD</th>
                        <th ng-show='mitReliStats' class='bg-lilac'>Int  FDR 12 MOE</th>
                        <th ng-show='mitReliStats' class='bg-lilac'>Int Lat YTD</th>
                        <th ng-show='mitReliStats' class='bg-lilac'>Int Lat 12 MOE</th>
                        <th ng-show='mitProt' class='bg-blue'>Relay</th>
                        <th ng-show='mitProt' class='bg-blue'>GI / GX</th>
                        <!--<th ng-show='mitProt' class='bg-blue'>GI / GX Change</th>-->
                        <th ng-show='mitProt' class='bg-blue'>Toggle</th>
                        <th ng-show='mitProt' class='bg-blue'>FIS</th>
                        <th ng-show='mitVeg' class='nee-green'>Trim FDR</th>
                        <th ng-show='mitVeg' class='nee-green'>Trim LAT</th>
                        <th ng-show='mitSmartGrid' class='bg-blue-violet'>FCI’s</th>
                        <th ng-show='mitSmartGrid' class='bg-blue-violet'>cFCIs</th>
                        <th ng-show='mitSmartGrid' class='bg-blue-violet'>AFS</th>
                        <th ng-show='mitSmartGrid' class='bg-blue-violet'>ALS</th>
                        <th ng-show='mitReliability' class='bg-drk-lilac'>Harden Date</th>
                        <th ng-show='mitReliability' class='bg-drk-lilac'>Thermo Date</th>
                        <th ng-show='mitReliability' class='bg-drk-lilac'>Visual insp Date</th>
                        <th ng-show='mitReliability' class='bg-drk-lilac'>OHLI Insp</th>
                        <th ng-show='mitReliability' class='bg-drk-lilac'>PF</th>
                        <th ng-show='mitReliability' class='bg-drk-lilac'>Pole Insp</th>
                        <th ng-show='mitReliability' class='bg-drk-lilac'>PSC cust </th>
                        <th ng-show='mitGen' class='fpl-grey'>Oh FDR miles</th>
                        <th ng-show='mitGen' class='fpl-grey'>OH Lat miles</th>
                        <th ng-click="mitKey('CUSTOMERS')" ng-show='mitGen' class='fpl-grey'>
                            Cust
                            <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortMit!='CUSTOMERS'"></span>
                      <span ng-hide="mitSort.sortMit!='CUSTOMERS'">
                        <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span><span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                      </span>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="m in mitmatrix |
                    orderBy:mitSort.sortMit:mitSort.reverse |
                    filter: {AREA:mitMAFilter}|
                    filter: {SUBSTATION:mitSubFilter} |
                    filter: {FDR_NUM:controlPanelSelectionData.selectedFeeder.name}|
                    filter:mitTxtFilter |
                    startFrom:((mitMatrixCurrentPage-1)*8) | limitTo:8">

                    <!--startFrom:((mitMatrixCurrentPage-1)*8) | limitTo:8"-->
                        <td>
                            <!--TODO when the data for old MA names are fixed can remove this-->
                            <span ng-hide="mitMAFilter == 'GS' || mitMAFilter == 'PM' || mitMAFilter == 'CE'|| mitMAFilter == 'WG'">
                                {{m.AREA}}
                            </span>
                            <span ng-show="mitMAFilter == 'WG'">CB (WG)</span>
                            <span ng-show="mitMAFilter == 'CE'">CD (CE)</span>
                            <span ng-show="mitMAFilter == 'PM'">NB (PM)</span>
                            <span ng-show="mitMAFilter == 'GS'">SB (GS)</span>
                        </td>
                        <td>{{m.SUBSTATION}}</td>
                        <td>{{m.FDR_NUM}}</td>
                        <td>{{m.MCOUNT}}</td>
                        <td ng-show='mitReliStats'>{{ m.FDR_M_YTD }}</td>
                        <td ng-show='mitReliStats'>{{ m.FDR_M_12MOE }}</td>
                        <td ng-show='mitReliStats'>{{ m.FDR_N_YTD }}</td>
                        <td ng-show='mitReliStats'>{{ m.INTERRUPTIONS }}</td>
                        <td ng-show='mitReliStats'>{{ m.LAT_N_YTD }}</td>
                        <td ng-show='mitReliStats'>{{ m.LAT_N_12MOE }}</td>
                        <td ng-show='mitProt'>{{ m.RELAYTYPE }}</td>
                        <td ng-show='mitProt'>{{ m.GIGX }}</td>
                        <!--<td ng-show='mitProt'>{{ m.gigx_change }}</td>-->
                        <td ng-show='mitProt'>{{ m.toggle }}</td>
                        <td ng-show='mitProt'>{{ m.FIS }}</td>
                        <td ng-show='mitVeg'>{{ m.VEG_FEEDER }}</td>
                        <td ng-show='mitVeg'>{{ m.VEG_LATERAL }}</td>
                        <td ng-show='mitSmartGrid'>{{ m.fci }}</td>
                        <td ng-show='mitSmartGrid'>{{ m.cfci }}</td>
                        <td ng-show='mitSmartGrid'>{{ m.AFS }}</td>
                        <td ng-show='mitSmartGrid'>{{ m.ALS }}</td>
                        <td ng-show='mitReliability'>{{ m.HARDENING |limitTo:4:6}}</td><!-- To show year only add |limitTo:4:6 -->
                        <td ng-show='mitReliability'>{{ m.LAST_THERMOINSPECTION | date:'yyyy' }}</td>
                        <td ng-show='mitReliability'>{{ m.LAST_INSPECTIONDATE | date:'yyyy' }}</td>
                        <td ng-show='mitReliability'>{{ m.THERMO }}</td>
                        <td ng-show='mitReliability'>{{ m.PRIORITY_FDR }}</td>
                        <td ng-show='mitReliability'>{{ m.POLE }}</td>
                        <td ng-show='mitReliability'>{{ m.psc }}</td>
                        <td ng-show='mitGen'>{{ m.FEEDEROH | number:2 }}</td>
                        <td ng-show='mitGen'>{{ m.LATERALOH | number:2}}</td>
                        <td ng-show='mitGen'>{{ m.CUSTOMERS }}</td>
                    </tr>
                    <!--TODO add Service Center filtering-->
                    <!--filter: {AREA:controlPanelSelectionData.selectedServiceCenter._id}|-->
                    </tbody>
                </table>

            </div>
        </div>

        <div class="tab-pane fade" id="mitInvReport">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <span class="col-sm-4">Investigation Report for Feeder# {{areaFData.selectedFeeder.name}}</span>
                        <!-- Hidden for the time being -->
                  <span class="col-sm-6 hide">
                    Show |
                    <button class="btn btn-success btn-short active" ng-click="">Year to Date</button>
                    <button class="btn btn-success btn-short disbaled" ng-click="" disabled>12 MOE</button>
                    <button class="btn btn-success btn-short disbaled" ng-click="" disabled>24 MOE</button>
                    <button class="btn btn-success btn-short disbaled" ng-click="" disabled>5 Years</button>
                  </span>
                    </div>
                </div>
                <div class="panel-body" style="overflow: auto; max-height: 380px;">
                    <!--<span>
                          Need to layout Table: based on <a href="http://dpdcapps/DPDC/MomentaryMatrixDetailed.jsp">Momentary research matrix</a>.
                          Requires Feeder Selction
                  </span>-->
                    <div ng-show="!areaFData.selectedFeeder.name">
                        <h4>No feeder selected, please select a Feeder above.</h4>
                    </div>
                    <div ng-hide="!areaFData.selectedFeeder.name">
                        <div>

                            <div class="alert alert-warning" ng-show="!usr.security.canEditMIT || usr.security.canEditMIT==false">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <span class="glyphicon glyphicon-ban-circle"></span>
                                <strong>Unable to Edit</strong> You can only view, and do not have permission to edit MIT Data.
                            </div>
                            <table class="table table-condensed">
                                <tbody>
                                <tr>
                                    <th>Feeder N YTD</th>
                                    <th>Feeder N 12MOE</th>
                                    <th>Lateral N YTD</th>
                                    <th>Lateral N 12MOE</th>
                                    <th>CEMI YTD</th>
                                    <th>CEMI 12MOE</th>
                                    <th>Momentaries YTD</th>
                                    <th>Momentaries 12MOE</th>
                                </tr>
                                <tr class="teal1" ng-repeat="mx in mitmatrix | filter: {FDR_NUM:areaFData.selectedFeeder.name}">
                                    <td>{{ mx.FDR_N_YTD }}</td>
                                    <td>{{ mx.INTERRUPTIONS }}</td>
                                    <td>{{ mx.LAT_N_YTD }}</td>
                                    <td>{{ mx.LAT_N_12MOE }}</td>
                                    <!--<td>{{mx.int_fdr_ytd}}</td>
                                  <td>{{mx.int_fdr_12moe}}</td>
                                  <td>{{mx.int_lat_ytd}}</td>
                                  <td>{{mx.int_lat_12moe}}</td>-->
                                    <!-- CMI Not currently in scope -->
                                    <td>{{ cemi.ytd }}</td>
                                    <td>{{ cemi.twmoe }}</td>

                                    <td>{{mx.FDR_M_YTD}}</td>
                                    <td>{{mx.FDR_M_12MOE}}</td>
                                </tr>
                                <tr ng-show="(mitmatrix | filter: {FDR_NUM:areaFData.selectedFeeder.name}).length<1">
                                    <td colspan="8" align="center">No MIT Matrix data for this Feeder</td>
                                </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped table-condensed">
                                <!-- ng-click="mitSort.sortIR='SUBSTATION';mitSort.reverse=!mitSort.reverse" -->
                                <thead>
                                <tr>
                                    <th rowspan="2">Edit</th>
                                    <th rowspan="2" ng-click="mitIrKey('date')" style="min-width:60px;">
                                        Date
                                        <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortIR!='date'"></span>
                                        <span></span>
                                        <span ng-hide="mitSort.sortIR!='date'">
                                          <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                          <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                                        </span>
                                    </th>
                                    <th rowspan="2" ng-click="mitIrKey('event_dttm')">
                                        SCADA Time
                                        <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortIR!='event_dttm'"></span>
                                        <span ng-hide="mitSort.sortIR!='event_dttm'">
                                          <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                          <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                                        </span>
                                    </th>
                                    <th rowspan="2" ng-click="mitIrKey('fault_map')">
                                        Fault Map?
                                        <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortIR!='fault_map'"></span>
                                        <span ng-hide="mitSort.sortIR!='fault_map'">
                                          <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                          <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                                        </span>
                                    </th>
                                    <th rowspan="2" ng-click="mitIrKey('status_code')" style="min-width: 90px;">
                                        Investigation Status
                                        <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortIR!='status_code'"></span>
                                        <span ng-hide="mitSort.sortIR!='status_code'">
                                          <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                          <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                                        </span>
                                    </th>
                                    <th rowspan="2" class='bg-blue'>Comments</th>

                                    <th rowspan="2" class='bg-blue'>TLN</th>
                                    <th rowspan="2" class='bg-blue'>Cause</th>
                                    <th colspan="4" class='nee-green'>TCMS</th>
                                    <th colspan="3" class='bg-drk-lilac'>Weather</th>
                                    <!--<th rowspan="2" ng-click="mitIrKey('wr_num')" style="min-width: 86px;">-->
                                        <!--Active TT#-->
                                        <!--<span class="glyphicon glyphicon-sort" ng-show="mitSort.sortIR!='wr_num'"></span>-->
                                        <!--<span ng-hide="mitSort.sortIR!='wr_num'">-->
                                          <!--<span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>-->
                                          <!--<span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>-->
                                        <!--</span>-->
                                    <!--</th>-->
                                    <th rowspan="2" ng-click="mitIrKey('wr_status')">
                                        TT# Status
                                        <span class="glyphicon glyphicon-sort" ng-show="mitSort.sortIR!='wr_status'"></span>
                                        <span ng-hide="mitSort.sortIR!='wr_status'">
                                          <span class="glyphicon glyphicon-sort-by-attributes" ng-show="!mitSort.reverse"></span>
                                          <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-hide="!mitSort.reverse"></span>
                                        </span>
                                    </th>
                                    <th ng-show="false"></th>
                                </tr>
                                <tr>
                                    <th class='nee-green'>Ticket #</th>
                                    <th rowspan="2" class='nee-green'>Cause</th><!-- DropdownList  -->
                                    <th class='nee-green'>Cause Code</th>
                                    <th class='nee-green'>Ticket Type</th>
                                    <th class='bg-drk-lilac'>Rain</th>
                                    <th class='bg-drk-lilac'>Lightning Match</th>
                                    <th class='bg-drk-lilac'>Wind</th>
                                    <!--<th class='bg-drk-lilac'>Gusts</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="m in momsIR | orderBy:mitSort.sortIR:mitSort.reverse |
                                filter:{fdr_num:areaFData.selectedFeeder.name} | filter:mittxtfilter | startFrom:(mitInvestigationReportCurrentPage-1)*6 | limitTo:6">
                                    <!-- <tr ng-repeat=" m in momsir | orderby:mitsort.sortir:mitsort.reverse | filter:{fdr_num:feeder} | filter:mittxtfilter | startfrom:(currentpage-1)*6 | limitTo:6"> -->
                                    <td>
                                        <!-- Edit Buttons -->
                                        <form editable-form name="momIRform" class="" style="padding:0; width: 40px;" onaftersave="saveMom(m.rid, m.comments, m.tln, m.cause_code)">
                                            <button data-toggle="tooltip" title="Save" type="submit" class="btn btn-success btn-tiny left"
                                                    ng-disabled="momIRform.$waiting" ng-show="momIRform.$visible" ng-click="">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </button>
                                            <!--<a href="#"  class="left">-->
                                            <button data-toggle="tooltip" title="Cancel" ng-show="momIRform.$visible" type="button"
                                                    ng-disabled="momIRform.$waiting" ng-click="momIRform.$cancel()" class="btn btn-danger btn-tiny left">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                            <!--</a>-->
                                        </form>
                                        <span ng-hide="momIRform.$visible">

                                          <button class="btn btn-info btn-tiny" ng-click="momIRform.$show()" ng-disabled="!usr.security.canEditMIT || usr.security.canEditMIT==false">
                                            <span class="glyphicon glyphicon-edit" ng-click=""></span>
                                          </button>
                                        </span>
                                    </td>
                                    <td>{{m.date}}</td><!-- add in | date:'shortDate'-->
                                    <td>{{m.event_dttm | limitTo:8:11}}</td> <!-- add in | date:'HH:mm:ss' OR  limitTo:8:11 -->
                                    <td>
                                        <!-- Fault Map -->
                                        <span ng-show="m.fault_map && m.fault_map!==''"><span class="glyphicon glyphicon-globe"></span> {{m.fault_map}}</span>
                                        <span ng-show="!m.fault_map || m.fault_map==''">No </span> <!--add to span with "yes" ng-show="mapGen=='yes'"  -->
                                    </td>


                                    <td>
                                        <!-- Inv Status Editable Drop Down-->
                                        <span>{{m.status_code}}</span>
                                    </td>


                                    <td>
                                        <!-- Comments Editable Text Area-->
                                        <span ng-hide="momIRform.$visible">{{m.comments}}</span>
                                        <span ng-show="momIRform.$visible" class="" editable-textarea="m.comments" e-name="comments" e-form="momIRform" type="text"></span>

                                    </td>


                                    <td>
                                        <!-- TLN -->
                                        <span ng-hide="momIRform.$visible">{{ m.tln }}</span>
                                        <span ng-show="momIRform.$visible" class="" editable-text="m.tln" e-name="tln" e-form="momIRform" type="text"></span>
                                    </td>

                                    <td>
                                        <!-- Cause -->
                                        <span ng-hide="momIRform.$visible">{{ m.cause_description }}</span>
                                        <!--<span ng-show="momIRform.$visible" editable-select="m.cause_code"-->
                                              <!--e-name="cause" e-form="momIRform" e-ng-options="c for c in tlnCauses" e-ng-value="c" ></span>-->
                                        <!--<span ng-show="momIRform.$visible" class="" editable-text="m.tln" e-name="tln" e-form="momIRform" type="text"></span>-->
                                    </td>
                                        <!-- TCMS  users can't modify these columns -->
                                    <td>{{ m.trbl_tckt_num }} </td>
                                    <td>
                                        <!-- Cause -->
                                        <span ng-hide="momIRform.$visible"> {{m.irpt_caus_ds}}</span>
                                    </td>
                                    <td>{{ m.irpt_caus_code }}</td>
                                    <td>{{ m.tckt_type_code }}</td>
                                    <!-- Weather -->
                                    <td>{{ getWeather('R', m.weather )}}</td>
                                    <td>{{ getWeather('L', m.weather )}}</td>
                                    <td>{{ getWeather('W', m.weather )}}</td>
                                    <!--<td></td>-->
                                    <!-- Active WR -->
                                    <td>
                                        <span ng-show="m.wr_num">{{m.wr_num}}</span>
                                        <span ng-show="!m.wr_num"><!--<button class="btn btn-info btn-short" ng-click="createTT()">Create TT</button>--></span>
                                    </td>
                                    <td>{{m.wr_status}}</td>
                                    <td ng-show="false">{{ m.rid }}</td>  <!-- This is our pseudo primary key -->
                                </tr>
                                </tbody>
                            </table>

                            <span ng-show="(mitmatrix | filter: {FDR_NUM:areaFData.selectedFeeder.name}).length<1">No MIT Matrix data for this Feeder</span>

                        </div>
                    </div>
                </div>
                <!-- close body -->
            </div>
        </div>

        <div class="tab-pane fade" id="mitDashboard">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <span class="col-sm-4">Dashboard</span>
                    </div>
                </div>
                <div class="panel-body" style="overflow: auto; max-height: 380px;">
                    Charts will go here
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <!-- Paging controls for the  MIT Matrix -->
        <div ng-show="showMitBtns=='matrix'">
            <span class="col-xs-1 txt-left">
                {{MatrixLength=(mitmatrix | filter: {AREA:mitMAFilter}|	filter: {SUBSTATION:mitSubFilter} |
                filter: {FDR_NUM:areaFData.selectedFeeder.name}| filter:mitTxtFilter).length}} results
            </span>
            <uib-pagination class="col-xs-6"
                            total-items="MatrixLength"
                            ng-model="mitMatrixCurrentPage" max-size="7" boundary-links="true" items-per-page="8"
                            ng-hide="MatrixLength<=8">
            </uib-pagination>

        </div>
        <!-- Paging controls for Investigation report -->
        <div ng-show="showMitBtns=='investigation'">
            <span class="col-xs-1 txt-left" ng-hide="!areaFData.selectedFeeder.name">
                {{MomIRLength=(momsIR | filter:{fdr_num:areaFData.selectedFeeder.name} | filter:mittxtfilter).length}} results </span>
            <uib-pagination class="col-xs-6"
                            total-items="MomIRLength"
                            ng-model="mitInvestigationReportCurrentPage" max-size="7" boundary-links="true" items-per-page="6"
                            ng-hide="MomIRLength<=6">
            </uib-pagination>
        </div>

        <div class="col-sm-4 right">
            <button type="button" class="btn btn-primary" ng-show="showMitBtns=='matrix'"
                ng-disabled="MatrixLength<=0"
                ng-csv="mitmatrix | filter: {AREA:mitMAFilter}| filter: {SUBSTATION:mitSubFilter} |
                filter: {FDR_NUM:areaFData.selectedFeeder.name}| filter:mitTxtFilter"
                filename="MIT_Matrix_{{areaFData.mostSpecificSelectionIdentifier}}.csv"
                csv-column-order="mitCsvColumns" csv-header="mitCsvExportHeaders">
                <img src="../images/excel_logo_white.svg" height="15" width="15" style="margin-right:2px;" /> CSV
            </button>
            <button type="button" class="btn btn-primary"
                    ng-show="showMitBtns=='investigation'"
                ng-disabled="(momsIR | filter:{fdr_num:areaFData.selectedFeeder.name} | filter:mittxtfilter).length<1 || !areaFData.selectedFeeder.name"
                ng-csv="momsIR | filter:{fdr_num:areaFData.selectedFeeder.name}"
                filename="MIT_Investigation_Report_{{areaFData.selectedManagementArea._id}}_Feeder-{{areaFData.selectedFeeder.name}}.csv"
                    csv-column-order="mitIrCsvColumns" csv-header="mitIrCsvExportHeaders">
                <img src="../images/excel_logo_white.svg" height="15" width="15" style="margin-right:2px;" /> CSV
            </button>
            <button type="button" class="btn btn-success" ng-click="matrixClose()">Close</button>
        </div>
    </div>
</div>
