<!-- Login Modal -->

<!--<div class="modal fade " id="loginModal" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content modal-sm" style="margin-top:100px; padding:20px;">-->
<!--<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Modal Header</h4>
</div>-->
<form ng-submit="login()">
    <div id="loginModalBody" class="modal-body txt-center">
        <img src="../images/FPL_blue.png" height="100" />
        <h3>NEXTGrid</h3>
        <p>Login to recieve alerts</p>
        <hr />
        <input type="text" class="form-group col col-xs-12 form-control" placeholder="SLID" id="slid" ng-model="usr.slid" />
        <input type="password" class="form-group col col-xs-12 form-control" placeholder="Password" ng-model="usr.password" />
        <button type="submit" class="btn btn-primary col col-xs-12 form-control" id="pword">
            <strong>Login</strong>
        </button>
        <!--<button type="button" class="btn btn-default col col-xs-12 form-control" data-dismiss="modal" ng-click="loginClose()">
          <strong>Proceed without Login</strong>
        </button>-->
    </div>
    <!--<div class="modal-footer">
      <button type="button" class="btn btn-default col col-xs-12 form-control" data-dismiss="modal">
        <strong>Close</strong>
      </button>
    </div>-->
</form>
<!--</div>

</div>
</div>-->