<div class="form-group">
  <label for="fname" class="col-sm-2 control-label">First Name</label><div class="col-sm-10">
  <input type="text" ng-model="user.fname" class="form-control" id="fname" placeholder="First Name"/></div></div>
<div class="form-group">
  <label for="lname" class="col-sm-2 control-label">Last Name</label><div class="col-sm-10">
  <input type="text" ng-model="user.lname" class="form-control" id="Last Name" placeholder="Last Name"/></div></div>
<div class="form-group">
  <label for="email" class="col-sm-2 control-label">SLID</label><div class="col-sm-10">
  <input type="text" ng-model="user.slid" class="form-control" id="email" placeholder="slid"/></div></div>
<div class="form-group">
  <label for="ma" class="col-sm-2 control-label">Management Area</label><div class="col-sm-10">
  <input type="text" ng-model="user.ma" class="form-control" id="dateCreated" placeholder="ma or ALL"/></div></div>
<div class="form-group">
  <label for="role" class="col-sm-2 control-label">Role</label><div class="col-sm-10">
  <input type="text" ng-model="user.role" class="form-control" id="role" placeholder="DAL or AM"/></div></div>
<div class="form-group">  
  <input type="submit" class="btn btn-primary" value="Update User"/>
</div>
